/* Adjusted styling for College Education Section */
.content-ce {
    flex: 1 1 45%;
    padding-top: 10%;
    display: flex;
    flex-direction: column; /* Stack the content vertically inside each section */
    align-items: flex-start;
    gap: 1rem;
    z-index: 9;
    padding-left: 20px; /* Add padding to control the position of the content */
    padding-right: 20px; /* Add padding to control the position of the content */
  }
  
  .content-2 {
    display: flex;
    flex-direction: column; /* Stack content vertically for mobile */
    align-items: flex-start; /* Align items at the top */
    justify-content: flex-start;
    padding: 3rem;
    gap: 2rem;
  }
  
  .content-ce h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 0.5rem;
    text-align: left; /* Align text to the left */
  }
  
  .content-ce p {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    line-height: 1.6;
    color: white;
    text-align: justify;
    width: 90%;
  }
  